/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-create-block-tab {
	border: 1px dotted #f00;
	margin-top: 20px;
	padding: 0 15px;
}
